*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.header{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.body{
    padding: 10px;
    --border-size: 3px;
    --border-angle: 0turn;
    width: 98%;
    height: 50rem;
    background-image: conic-gradient(from var(--border-angle), #213, #112 50%, #213), conic-gradient(from var(--border-angle), transparent 20%, #08f, #f03);
    background-size: calc(100% - (var(--border-size) * 2)) calc(100% - (var(--border-size) * 2)), cover;
    background-position: center center;
    background-repeat: no-repeat;
    animation: bg-spin 3s linear infinite;
}
@keyframes bg-spin {
    to {
        --border-angle: 1turn;
   }
}
.box:hover {
    animation-play-state: paused;
}
@property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
}


.header > img{
    height: 300px;
    width: 300px;
}

.header-image{
    display: flex;
    align-items: center;
}

.header-middle{
    width: 50%;
}
.header-middle > h1{
    font-size: 60px;
    margin-left: 5%;
}
.header-image > img{
    margin-left: 25%;
}
.header-image > h1{
    font-size: 34px;
}

.glow {
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
@-webkit-keyframes glow {
from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #007be6, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
}

to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
}
}
    

/* ----- container stylings: 
        -> centers the whole content of the page
        -> defines width and height for container ----- */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 800px;
    height: 600px;
}
/* ----- end of container stylings ----- */

/* provides padding to main heading */
.main-heading {
    padding: 2rem 0 2rem 0;
}

.content {
    position: relative;
}

/* ----- carousel content stylings ----- */
/* places the carousel content on center of the carousel */
.carousel-content {
    position: absolute;
    /*to center the content horizontally and vertically*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    text-align: center;
    z-index: 50;
}
.carousel-heading {
    font-size: 3rem;
    color: #308d46;
    margin-bottom: 1rem;
}
/*----- end of carousel content stylings ----- */

/* ----- slideshow stylings ----- */
.slideshow {
    margin-top: 3%;
    height: 44%;
    overflow: hidden; /* to hide slides in x-direction */
    position: relative;
    object-fit: contain;
}
/* wrapper which wraps all the slideshow images stylings */
.slideshow-wrapper {
    display: flex;
    /* We give it width as 400% because we are making a 
        4 image carousel. If you want to make for example, 
        5 images carousel, then give width as 500%. */
    width: 400%;
    height: 100%;
    position: relative;
    /* you can change the animation settings from below */
    animation: slideshow 20s infinite;
    }
/* define width and height for images*/
.slide {
    width: 100%;
    height: 100%;
}
.slide-img {
    width: 100%;
    height: 100%;
    object-fit: contain; 
}
/* @keyframes are used to provide animations
    We make these settings for 4 image carousel.
    Make modification according to your needs. */
@keyframes slideshow {
    0%  { left: 0; }
    10% { left: 0; }
    15% { left: -100%; }
    25% { left: -100%; }
    30% { left: -200%; }
    40% { left: -200%; }
    45% { left: -300%; }
    55% { left: -300%; }
    60% { left: -200%; }
    70% { left: -200%; }
    75% { left: -100%; }
    85% { left: -100%; }
    90% { left: 0%; }
}
/* ----- end of slideshow stylings ----- */

/* ----- carousel control buttons stylings ----- */
.slide-btn {
    background-color: #bbb;
    border-radius: 50%;
    border: .2rem solid #d38800;
    width: 1.2rem;
    height: 1.2rem;
    outline: none;
    cursor: pointer;
    /* stylings for positioning the buttons at
        the bottom of the carousel */
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 70;
}
/* As we provide position as absolute, 
the buttons places one over the other. 
So, we have to place them individually
at their correct positions. */
.slide-btn-1 {
    left: 44%;
}
.slide-btn-2 {
    left: 46%;
}
.slide-btn-3 {
    left: 48%;
}
.slide-btn-4 {
    left: 50%;
}
.slide-btn-5 {
    left: 52%;
}
.slide-btn-6 {
    left: 54%;
}
.slide-btn-7 {
    left: 56%;
}
.slide-btn-8 {
    left: 58%;
}

/* When we focus on the particular button, 
the animation stops to that particular image 
to which the button is associated. */
.slide-btn-1:focus~.slideshow-wrapper {
    animation: none;
    left: 0;
}
.slide-btn-2:focus~.slideshow-wrapper {
    animation: none;
    left: -100%;
}
.slide-btn-3:focus~.slideshow-wrapper {
    animation: none;
    left: -200%;
}
.slide-btn-4:focus~.slideshow-wrapper {
    animation: none;
    left: -300%;
}
/* when we focus on the button, the background color changes */
.slide-btn:focus {
    background-color: #308d46;
}